.detailsform{
    border:2px solid white;
    margin-top:5%;
    margin-left: 30%;
    margin-right:30%;
}
.busno{
    margin-left:20.5%;
    width:300px;
    height:40px;
    margin-bottom:2%;
}
.source{
    margin-left:18.4%;
    width:300px;
    height:40px;
    margin-bottom:2%;
}
.destination{
    margin-left:21.6%;
    width:300px;
    height:40px;
    margin-bottom:2%;
}
.starttime{
    margin-left:18.7%;
    width:300px;
    height:40px;
    margin-bottom:2%; 
}
.reachtime{
    margin-left:17%;
    width:300px;
    height:40px;
    margin-bottom:2%;
}
.totalkm{
    margin-left:6%;
    width:300px;
    height:40px;
    margin-bottom:2%;
}
.date{
    margin-left:31.5%;
    width:300px;
    height:40px;
    margin-bottom:2%;
}
label{
    margin-left:5%;
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.submitbusdetails{
    margin-left:40%;
    margin-top:3%;
    width:150px;
    height:40px;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom:5%;
    border-radius:10%;
    border:0px;
}
.bdh{
    margin-left:30%;
    color: white;
}